flask==2.2.2
Werkzeug==2.2.2
numpy==1.24.1  
pandas==1.5.2
tensorflow==2.11.0
scikit-learn==1.2.0
flask-cors==3.0.10
fastapi==0.89.1
gunicorn

protobuf==3.19.1 # needed for TensorFlow 
uvicorn==0.20.0 # for FastAPI
